# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/
.history/

# Project specific
data/output/

# Copilot
.copilot/